@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import "tailwind.css";
@import "cube.css";

:root {
    --bezier: cubic-bezier(.25, .46, .45, .94);
}

body {
    font-family: 'Varela Round', 'Bahnschrift', 'Segoe UI', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #eee;
    text-align: left;
    background-color: #141414 !important;
}

.nav {
    background-color: #141414 !important;
    z-index: 100;
}

.nav-items {
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    max-width: 1600px;
}

.navitem {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 0;
    margin-left: 25px;
}

[data-social="true"] {
    padding-top: 5px;
}

.navitem a {
    position: relative;
    display: block;
    padding: 1.3em 1.8em;
    font-size: 1.1em;
}

.navitem span {
    display: block;
    padding-bottom: 2px;

    background:
        linear-gradient(to right, rgb(197, 24, 154), rgb(129, 0, 189));
    background-size: 0 0.2em;
    background-position: 0 100%;
    background-repeat: no-repeat;

    transition: color 75ms var(--bezier),
        background-size 250ms var(--bezier),
        transform 125ms var(--bezier);
}

.navitem a:hover span,
.navitem a:focus span {
    color: rgb(199, 199, 199);
    background-size: 100% 0.2em;

    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
}

.portfolio-drop {
    position: absolute;
    opacity: none;
    background-color: #242424;
    padding: 18px;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;

    transition: opacity 250ms var(--bezier);
}

.portfolio:hover .portfolio-drop {
    opacity: 1;
    pointer-events: all;
}

#projects {
    padding: 0 0 4em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    background: #222222;
    width: 80%;
    height: 600px;
    padding: 3em;
    border-radius: 20px;

    transition: box-shadow 150ms var(--bezier),
                border 250ms var(--bezier);
}

.project:hover {
    box-shadow: 0 0 26px #1f1f1f;
}

.project h1 {
    position: relative;
    display: block;
    font-size: 2.6em;
    color: #d8d8d8;
}

.project h3 {
    position: relative;
    display: block;
    font-size: 1.4em;
    color: #8f8f8f;
    text-transform: uppercase;
}

#footer {
    margin: 2em 0 2em 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

#footer a {
    color: #6264d3
}

.cube_face span {
    margin: 25px;
    display: grid;
    align-items: center;
    gap: 6px;
}

.cube_face span img {
    align-self: center;
    justify-self: center;
}

.cube_face span sv {
    align-self: center;
    justify-self: center;
    font-size: xx-large;
    background-color: #141414aa;
    padding: 0 6px;
    border-radius: 10px;
}

.title {
    display: grid;
    position: relative;
    height: 95vh;
    width: 100%;
    grid-template-columns: 1.5fr 0.6fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 4px 4px; 
    grid-template-areas: 
        "intro scene scene"
        "des scene scene"; 
    align-items: center;
}

.intro {
    position: absolute;
    bottom: 5px;
    left: 15vw;
    grid-area: intro;

    font-size: 6em;
    font-family: 'Exo 2', 'Segoe UI', 'Times New Roman', Times, serif;
    background: linear-gradient(to right, rgb(197, 24, 154), rgb(129, 0, 189));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.des {
    position: absolute;
    top: 5px;
    left: 15.35vw;
    grid-area: des;

    font-size: 1.5em;
}

.scene {
    position: absolute;
    right: 20vw;
    grid-area: scene;

    text-align: center;
}

@media screen and (max-width: 1544px) {
    .intro {
        font-size: 5em;
        left: 10vw;
    }

    .des {
        left: 10vw;
    }

    .scene {
        right: 15vw;
    }
}

@media screen and (max-width: 1121px) {
    .intro {
        font-size: 4em;
        left: 8vw;
    }

    .des {
        left: 8vw;
    }

    .scene {
        right: 13vw;
    }
}
/* 
@media screen and (max-width: 1027px) {
    .title {
        grid-template-columns: 0.95fr; 
        grid-template-rows: 1fr 1fr; 
        grid-template-areas: 
            "intro"
            "des"; 
    }

    .scene {
        position: absolute;
        display: none;
    }
} */

@media screen and (max-width: 1027px) {
    .title {
        grid-template-columns: 1fr; 
        grid-template-rows: 0.9fr 0.6fr 1.5fr; 
        grid-template-areas: 
            "intro"
            "des"
            "scene";

        justify-content: center; 
        align-content: center; 
        justify-items: center; 
        align-items: center; 
    }

    .scene {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        grid-area: scene;
    
        text-align: center;
        perspective: 450px;
    }

    .intro {
        left: 5vw;
        margin: 6px 20px;
    }

    .des {
        left: 5vw;
        margin: 6px 20px;
    }
}

.cube_face {
    border: 20px fill rgb(129, 0, 189);
    color: rgb(255, 255, 255);
}

.-ml-auto {
    margin-left: auto;
}

@media screen and (max-width: 698px) {
    .-ml-auto {
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 595px) {
    .navitem {
        margin-left: 0;
    }
}

@media screen and (max-width: 498px) {
    #footer {
        margin: 2em;
    }
}
