.logo {
    position: absolute;
    top: -10px;
    left: -10px;
    height: 50px;
}

.minecraft {
    width: 50px;
}

.vypr {
    left: -15px;
}

.netflix, .surfshark {
    height: 60px;
    top: -15px;
    left: -20px;
}

.crunchyroll {
    top: -10px;
    left: -40px;
}

.disney {
    top: -15px;
    left: -20px;
}

.napster {
    top: -15px;
    left: -15px;
}

.wish, .hulu {
    top: -20px;
    left: -40px;
}

.onlyfans {
    top: 5px;
    left: 5px;
}

.ph {
    top: 5px;
    left: -5px;
}