*, ::before, ::after {
    color-scheme: dark;    
}

body {
    background: radial-gradient(ellipse at bottom, #0f0436 0%,#050916 100%);
    overflow: hidden;
}

.divider {
    position: absolute;
    border-radius: 100px;
    height: 1px;
    width: 850px;
    background-color: #ccc;
    margin: 0 auto;
}

.card-wrapper {
    position: relative;
    height: 300px;
    width: 850px;
    margin: 0 auto;
    top: 170px;
}

.cards {
    display: flex;
    gap: 26px;
    padding: 2em;
}

.line {
    transition: .4s var(--bezier);
    height: 1px;
    background-color: #5106b457;
    border-radius: 6px;
    overflow: hidden;
}

.review:hover .line {
    height: 16px;
}

.review {
    transition: .35s var(--bezier);
    height: 240px;
    width: 250px;
    margin: auto;
    background-color: #5106b425;
    border-radius: 6px;
    z-index: 150;
}

.review:hover {
    background-color: #5106b400;

    box-shadow:
        0 0 90px 5px rgba(79, 37, 196, 0.644),
        0 0 500px 10px rgba(119, 0, 255, 0.644);
}


.review :is(h2, span) {
    margin: 14px;
}

.review h2 {
    text-align: center;
    font-style: italic;
}